---
import Image from "astro/components/Image.astro";
import Logo from "@assets/Logo.png";
---

<footer class="bg-dark text-white py-2 lg:py-0">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row items-center justify-between gap-4">
      <div class="flex items-center gap-3">
        <Image
          class="h-16 lg:h-24 w-auto filter brightness-0 invert"
          src={Logo}
          alt="AM Solar Services"
        />
      </div>
      <p class="text-sm text-gray-400 text-center">
        © {new Date().getFullYear()} AM Solar Services. All rights reserved.
      </p>
      <p class="text-sm text-gray-400 text-center">
        Developed by <a
          href="https://juanmderosa-developer.com"
          rel="noopener noreferrer"
          target="_blank"
          >JuanmderosaDeveloper</a
        >
      </p>
    </div>
  </div>
</footer>
