---
import GoogleFonts from "@components/GoogleFonts.astro";
import SEO from "@components/SEO.astro";
import "@styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="scroll-smooth">
  <head>
    <SEO title={title} description={description} />
    <GoogleFonts />
  </head>
  <body
    class="font-sans antialiased text-text-main bg-background overflow-x-hidden">
    <slot />
  </body>
</html>
